
<footer>
  <div class="container">
    <ul>
      <li><a href="/">About</a></li>
      <li><a href="https://internsathi.com/">Internsathi</a></li>
      <li><a href="/">Internship-emailSender-task</a></li>
    </ul>
    <p>Copyright &copy; 2022 Achyut Koirala</p>
  </div>
</footer>


</body>
</html>