<%- include('partials/header') %>
<div class="success-container">
	<div class="message">
		<i class="tick-icon">&#x2714;</i>
		<p>Success!</p>
	</div>
	<a href="/home" class="back-button">Back to Home</a>
</div>
<%- include('partials/footer') %>
