<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/styles.css" />
		<title>Contacts</title>
		<nav>
			<a href="/">Contacts Service Provider</a>
		</nav>
	</head>
	<body class="dark-mode"></body>
</html>
