<%- include('partials/header') %>

<div class="failed-container">
	<div class="message">
		<i class="cross-icon">&#x2718;</i>
		<p>Operation Failed!</p>
	</div>
	<a href="/" class="back-button">Back to Home</a>
</div>

<%- include('partials/footer') %>
